:host {
  all: initial;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  line-height: normal;
  z-index: inherit;
  max-width: inherit;
  max-height: inherit;
  min-width: inherit;
  min-height: inherit;
  width: inherit;
  height: inherit;
}
:host([editing]) {
  z-index: 2147483638;
}
